  .slick-prev-one{
    width: 50px !important;
    height: 50px !important;
    font-size: 15px !important;
    border-radius: 12px !important;
    border: 0 !important;
    background:var(--organ---secondary, #FF6C00) !important;
    position: relative !important;
    bottom: -35px !important;
    left: 20px !important;
    
    }

    .slick-next-one{
        width: 50px !important;
        height: 50px !important;
        font-size: 15px !important;
        border-radius: 12px !important;
        border: 0 !important;
        background:var(--organ---secondary, #FF6C00) !important;
        position: relative !important;
        bottom: 35px !important;
    }

    
    .slick-next:hover{
        background: var(--disable-gray, #F3F2F2) !important;
        color: transparent !important;
    }
    
    .slick-prev:hover{
        background: var(--disable-gray, #F3F2F2) !important;
         color: transparent !important;

    }



